.content {
  margin-top: 30px;
}

#img-universidade {
  width: 75%;
}

#texto-sobre {
  margin-top: 5%;
  text-align: justify;
}

#btnPostar {
  color: #FFFFFF;
  margin-bottom: 2%
}

#tituloPostagem {
  height: 35px !important;
}

#autor {
  height: 35px !important;
}